<!DOCTYPE html>
<html>
  <head>
    <title>Zel Zams</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Contact Us</h1>
    </header>
    <!-- <nav>
      <ul>
        <li><a href="#phone">Phone</a></li>
        <li><a href="#email">Email</a></li>
        <li><a href="#address">Address</a></li>
      </ul>
    </nav> -->
    <main>
      <section id="phone">
        <h2>Phone</h2>
        <p>+63423290784</p>
      </section>
      <section id="email">
        <h2>Email</h2>
        <p>daniellibang@gmail.com</p>
      </section>
      <!-- <section id="address">
        <h2>Address</h2>
        <p>123 Main Street, Anytown USA</p>
      </section> -->
    </main>
    <footer>
      <p>Copyright © 2023 ZelektronikaPH</p>
    </footer>
  </body>
</html>
